# ML dependencies
pandas
numpy
matplotlib
scikit-learn
pyarrow

# Server dependencies
Flask==3.1.0
flask-cors==5.0.1
flask-openapi3==4.1.0
flask-openapi3-swagger==5.20.1
Flask-SQLAlchemy==3.1.1
pydantic==2.10.6
pydantic_core==2.27.2
requests==2.32.3